.elementor-33 .elementor-element.elementor-element-62c9c933:not(.elementor-motion-effects-element-type-background),.elementor-33 .elementor-element.elementor-element-62c9c933>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #645ebd
}

.elementor-33 .elementor-element.elementor-element-62c9c933 {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    padding: 20px 21px
}

.elementor-33 .elementor-element.elementor-element-62c9c933>.elementor-background-overlay {
    transition: background .3s,border-radius .3s,opacity .3s
}

.elementor-33 .elementor-element.elementor-element-172c90c2.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center
}

.elementor-33 .elementor-element.elementor-element-172c90c2>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-33 .elementor-element.elementor-element-1fb5480 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 61px;
    --grid-column-gap: 78px;
    --grid-row-gap: 0px
}

.elementor-33 .elementor-element.elementor-element-1fb5480 .elementor-widget-container {
    text-align: center
}

.elementor-33 .elementor-element.elementor-element-1fb5480 .elementor-social-icon {
    background-color: #b6c6c900;
    --icon-padding: 0em
}

.elementor-33 .elementor-element.elementor-element-1fb5480 .elementor-social-icon i {
    color: #383333
}

.elementor-33 .elementor-element.elementor-element-1fb5480 .elementor-social-icon svg {
    fill: #383333
}

.elementor-33 .elementor-element.elementor-element-1fb5480 .elementor-social-icon:hover i {
    color: #fedd64
}

.elementor-33 .elementor-element.elementor-element-1fb5480 .elementor-social-icon:hover svg {
    fill: #fedd64
}

.elementor-33 .elementor-element.elementor-element-1fb5480>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-33 .elementor-element.elementor-element-631cd62c:not(.elementor-motion-effects-element-type-background),.elementor-33 .elementor-element.elementor-element-631cd62c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #645ebd
}

.elementor-33 .elementor-element.elementor-element-631cd62c {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 20px 36px
}

.elementor-33 .elementor-element.elementor-element-631cd62c>.elementor-background-overlay {
    transition: background .3s,border-radius .3s,opacity .3s
}

.elementor-33 .elementor-element.elementor-element-85a1674,.elementor-33 .elementor-element.elementor-element-85a1674 .elementor-text-editor *:not(.elementor-drop-cap-letter) {
    color: #383333
}

.elementor-33 .elementor-element.elementor-element-85a1674,.elementor-33 .elementor-element.elementor-element-85a1674 .elementor-text-editor * {
    font-weight: 900;
    letter-spacing: -1.4px
}

.elementor-33 .elementor-element.elementor-element-85a1674>.elementor-widget-container {
    margin: 11px 0 5px
}

.elementor-33 .elementor-element.elementor-element-5dbc323e {
    text-align: center
}

.elementor-33 .elementor-element.elementor-element-5dbc323e,.elementor-33 .elementor-element.elementor-element-5dbc323e .elementor-text-editor *:not(.elementor-drop-cap-letter) {
    color: #fff
}

.elementor-33 .elementor-element.elementor-element-5dbc323e,.elementor-33 .elementor-element.elementor-element-5dbc323e .elementor-text-editor * {
    font-size: 22px;
    line-height: 1.7em
}

.elementor-33 .elementor-element.elementor-element-5dbc323e>.elementor-widget-container {
    margin: 14px 0 0
}

.elementor-33 .elementor-element.elementor-element-5eef0e8 .thegem-section-parallax-background {
    background-color: rgb(6, 7, 24)
}

.elementor-33 .elementor-element.elementor-element-5eef0e8>.elementor-shape-top .elementor-shape-fill {
    fill: #645ebd
}

.elementor-33 .elementor-element.elementor-element-5eef0e8>.elementor-shape-top svg {
    width: calc(300% + 1.3px);
    height: 92px
}

.elementor-33 .elementor-element.elementor-element-5eef0e8>.elementor-shape-bottom .elementor-shape-fill {
    fill: #794e9ccc
}

.elementor-33 .elementor-element.elementor-element-5eef0e8>.elementor-shape-bottom svg {
    height: 70px
}

.elementor-33 .elementor-element.elementor-element-5eef0e8 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 78px 0
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder-item-inner,.elementor-33 .elementor-element.elementor-element-313097d .quickfinder-item-inner .gem-qf-icon-image-wrapper {
    text-align: center
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder-style-vertical .quickfinder-item-info {
    text-align: center;
    padding: 15px
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder .quickfinder-item {
    padding-left: calc(17px/2);
    padding-right: calc(17px/2);
    padding-top: calc(16px/2);
    padding-bottom: calc(16px/2)
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder {
    margin-left: calc(-17px/2);
    margin-right: calc(-17px/2);
    margin-top: calc(-16px/2);
    margin-bottom: calc(-16px/2)
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder-item-inner {
    padding: 15px
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder .quickfinder-title {
    margin-bottom: 15px;
    color: #fff!important
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder .quickfinder-item:hover .quickfinder-title {
    color: #68e688!important
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder .quickfinder-description {
    padding-bottom: 55px;
    color: #c9d8e3!important
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder .quickfinder-item:hover .quickfinder-description {
    color: #fff!important
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder .quickfinder-item:hover .quickfinder-description p {
    color: #fff!important
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder .quickfinder-item:hover .quickfinder-description span p {
    color: #fff!important
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder .quickfinder-item:hover .quickfinder-description span {
    color: #fff!important
}

.elementor-33 .elementor-element.elementor-element-313097d .gem-qf-icon-image-wrapper .gem-icon .back-angle i {
    background-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg,#00FFF1 50%,#50C7FF 50%)
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder .quickfinder-item:hover .gem-qf-icon-image-wrapper .gem-icon .back-angle i {
    background-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(180deg,#A88DF4 0%,#A88DF4 100%)
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder .gem-image img,.elementor-33 .elementor-element.elementor-element-313097d .quickfinder a .gem-image img {
    width: 60px;
    max-width: 60px;
    height: auto
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder .gem-image span {
    border-style: none
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder .quickfinder-item:hover .gem-image>span::before {
    opacity: .5!important
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder .gem-button-container .gem-button {
    border-radius: 50px 50px 50px 50px;
    border-style: solid;
    border-width: 1px
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder .quickfinder-item:hover .gem-button-container .gem-button:hover .gem-text-button {
    color: #a88df4
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder .quickfinder-item:hover .gem-button-container .gem-button:hover .gem-button-icon {
    color: #a88df4
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder .quickfinder-item:hover .gem-button-container .gem-button:hover .gem-button-icon svg {
    fill: #a88df4
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder .quickfinder-item:hover .gem-button-container .gem-button.item-linked .gem-text-button {
    color: #a88df4
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder .quickfinder-item:hover .gem-button-container .gem-button.item-linked .gem-button-icon {
    color: #a88df4
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder .quickfinder-item:hover .gem-button-container .gem-button.item-linked .gem-button-icon svg {
    fill: #a88df4
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder .quickfinder-item .gem-button-container .gem-button:hover {
    border-color: #a88df4
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder .quickfinder-item:hover .gem-button-container .gem-button.item-linked {
    border-color: #a88df4
}

.elementor-33 .elementor-element.elementor-element-313097d .quickfinder .gem-inner-wrapper-btn {
    flex-direction: row
}

.elementor-33 .elementor-element.elementor-element-ffaef8e:not(.elementor-motion-effects-element-type-background),.elementor-33 .elementor-element.elementor-element-ffaef8e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #794e9ccc
}

.elementor-33 .elementor-element.elementor-element-ffaef8e {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    padding: 30px 0 0
}

.elementor-33 .elementor-element.elementor-element-ffaef8e>.elementor-background-overlay {
    transition: background .3s,border-radius .3s,opacity .3s
}

.elementor-33 .elementor-element.elementor-element-ffaef8e>.elementor-shape-bottom .elementor-shape-fill {
    fill: #645ebd
}

.elementor-33 .elementor-element.elementor-element-ffaef8e>.elementor-shape-bottom svg {
    width: calc(100% + 1.3px);
    height: 90px;
    transform: translateX(-50%) rotateY(180deg)
}

.elementor-33 .elementor-element.elementor-element-38afe05.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center
}

.elementor-33 .elementor-element.elementor-element-38afe05>.elementor-element-populated {
    padding: 0 0 90px
}

.elementor-33 .elementor-element.elementor-element-f348c5d,.elementor-33 .elementor-element.elementor-element-f348c5d .elementor-text-editor * {
    font-weight: 900;
    line-height: 1em;
    letter-spacing: -5px
}

.elementor-33 .elementor-element.elementor-element-d852ea2 {
    text-align: center;
    width: 512px;
    max-width: 512px;
    align-self: center
}

.elementor-33 .elementor-element.elementor-element-d852ea2,.elementor-33 .elementor-element.elementor-element-d852ea2 .elementor-text-editor *:not(.elementor-drop-cap-letter) {
    color: #383333
}

.elementor-33 .elementor-element.elementor-element-d852ea2>.elementor-widget-container {
    margin: 0
}

.elementor-33 .elementor-element.elementor-element-7277a84 .elementor-button .elementor-align-icon-right {
    margin-left: 10px
}

.elementor-33 .elementor-element.elementor-element-7277a84 .elementor-button .elementor-align-icon-left {
    margin-right: 10px
}

.elementor-33 .elementor-element.elementor-element-7277a84 .elementor-button {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.7em;
    letter-spacing: 2px;
    fill: #383333;
    color: #383333;
    background-color: #52c2a6;
    border-radius: 0 0 0 0
}

.elementor-33 .elementor-element.elementor-element-7277a84>.elementor-widget-container {
    margin: 20px 0 0
}

.elementor-33 .elementor-element.elementor-element-f873607:not(.elementor-motion-effects-element-type-background),.elementor-33 .elementor-element.elementor-element-f873607>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #a5bc64
}

.elementor-33 .elementor-element.elementor-element-f873607 {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    padding: 25px 0 0
}

.elementor-33 .elementor-element.elementor-element-f873607>.elementor-background-overlay {
    transition: background .3s,border-radius .3s,opacity .3s
}

.elementor-33 .elementor-element.elementor-element-ad9674c>.elementor-element-populated {
    margin: 0
}

.elementor-33 .elementor-element.elementor-element-c8821e5,.elementor-33 .elementor-element.elementor-element-c8821e5 .elementor-text-editor * {
    font-weight: 900;
    line-height: 1em;
    letter-spacing: -5px
}

.elementor-33 .elementor-element.elementor-element-26d2c15 {
    margin-top: 25px;
    margin-bottom: 0
}

.elementor-33 .elementor-element.elementor-element-7ca07b9 .elementor-heading-title {
    color: #383333;
    letter-spacing: 0
}

.elementor-33 .elementor-element.elementor-element-f117641 .quickfinder-item-inner,.elementor-33 .elementor-element.elementor-element-f117641 .quickfinder-item-inner .gem-qf-icon-image-wrapper {
    text-align: left;
    justify-content: flex-start
}

.elementor-33 .elementor-element.elementor-element-f117641 .quickfinder-style-vertical .quickfinder-item-info {
    text-align: left;
    justify-content: flex-start;
    padding: 10px 0 70px 20px
}

.elementor-33 .elementor-element.elementor-element-f117641 .quickfinder-item-inner {
    padding: 10px 0 70px 20px
}

.elementor-33 .elementor-element.elementor-element-f117641 .quickfinder .quickfinder-title {
    margin-bottom: 25px;
    color: #383333!important;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0
}

.elementor-33 .elementor-element.elementor-element-f117641 .quickfinder .quickfinder-description {
    padding-bottom: 0;
    color: #383333!important;
    line-height: 1em
}

.elementor-33 .elementor-element.elementor-element-f117641 .gem-qf-icon-image-wrapper .gem-icon {
    padding: 10px;
    margin: 0;
    background-color: #fff;
    border-color: #879b51
}

.elementor-33 .elementor-element.elementor-element-f117641 .gem-icon {
    border-width: 2px;
    border-radius: -1px -1px -1px -1px
}

.elementor-33 .elementor-element.elementor-element-f117641 .gem-qf-icon-image-wrapper .gem-icon .gem-icon-shape-hexagon-back-inner-before {
    background-color: #879b51
}

.elementor-33 .elementor-element.elementor-element-f117641 .quickfinder .gem-qf-icon-image-wrapper .gem-icon .gem-icon-half-1 i {
    color: #879b51
}

.elementor-33 .elementor-element.elementor-element-f117641 .quickfinder .gem-qf-icon-image-wrapper .gem-icon .gem-icon-half-1 svg {
    fill: #879b51
}

.elementor-33 .elementor-element.elementor-element-f117641 .quickfinder .gem-qf-icon-image-wrapper .gem-icon .gem-icon-half-2 i {
    color: #879b51
}

.elementor-33 .elementor-element.elementor-element-f117641 .quickfinder .gem-qf-icon-image-wrapper .gem-icon .gem-icon-half-2 svg {
    fill: #879b51
}

.elementor-33 .elementor-element.elementor-element-f117641 .quickfinder .quickfinder-item:hover .gem-qf-icon-image-wrapper .icon-hover-bg {
    background-color: #879b51
}

.elementor-33 .elementor-element.elementor-element-f117641 .quickfinder .quickfinder-item:hover .gem-icon {
    border-color: #879b51
}

.elementor-33 .elementor-element.elementor-element-f117641 .quickfinder .quickfinder-item:hover .gem-qf-icon-image-wrapper .gem-icon .gem-icon-half-1 i {
    color: #fff
}

.elementor-33 .elementor-element.elementor-element-f117641 .quickfinder .quickfinder-item:hover .gem-qf-icon-image-wrapper .gem-icon .gem-icon-half-1 svg {
    fill: #fff
}

.elementor-33 .elementor-element.elementor-element-f117641 .quickfinder .quickfinder-item:hover .gem-qf-icon-image-wrapper .gem-icon .gem-icon-half-2 i {
    color: #fff
}

.elementor-33 .elementor-element.elementor-element-f117641 .quickfinder .quickfinder-item:hover .gem-qf-icon-image-wrapper .gem-icon .gem-icon-half-2 svg {
    fill: #fff
}

.elementor-33 .elementor-element.elementor-element-f117641 .quickfinder .gem-image img,.elementor-33 .elementor-element.elementor-element-f117641 .quickfinder a .gem-image img {
    width: 128px;
    max-width: 128px;
    height: auto
}

.elementor-33 .elementor-element.elementor-element-f117641 .quickfinder .gem-image span {
    border-style: none
}

.elementor-33 .elementor-element.elementor-element-f117641 .quickfinder .quickfinder-item:hover .gem-image>span::before {
    opacity: .5!important
}

.elementor-33 .elementor-element.elementor-element-f117641 .quickfinder .gem-inner-wrapper-btn {
    flex-direction: row
}

.elementor-33 .elementor-element.elementor-element-f117641 .quickfinder-style-vertical .connector-container span {
    width: 2px;
    height: 5px;
    margin-top: 0%
}

.elementor-33 .elementor-element.elementor-element-f117641>.elementor-widget-container {
    margin: 30px 0 0
}

.elementor-33 .elementor-element.elementor-element-f117641 {
    z-index: 2
}

.elementor-33 .elementor-element.elementor-element-b6547ae .elementor-spacer-inner {
    height: 216px
}

.elementor-33 .elementor-element.elementor-element-b6547ae {
    z-index: 1;
    width: 2px;
    max-width: 2px;
    top: 120px
}

.elementor-33 .elementor-element.elementor-element-b6547ae>.elementor-widget-container {
    background-color: #879b51
}

body:not(.rtl) .elementor-33 .elementor-element.elementor-element-b6547ae {
    left: 21px
}

body.rtl .elementor-33 .elementor-element.elementor-element-b6547ae {
    right: 21px
}

.elementor-33 .elementor-element.elementor-element-a8a50a3 .elementor-heading-title {
    color: #383333;
    letter-spacing: 0
}

.elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder-item-inner,.elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder-item-inner .gem-qf-icon-image-wrapper {
    text-align: left;
    justify-content: flex-start
}

.elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder-style-vertical .quickfinder-item-info {
    text-align: left;
    justify-content: flex-start;
    padding: 10px 0 70px 20px
}

.elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder-item-inner {
    padding: 10px 0 70px 20px
}

.elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder .quickfinder-title {
    margin-bottom: 25px;
    color: #383333!important;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0
}

.elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder .quickfinder-description {
    padding-bottom: 0;
    color: #383333!important;
    line-height: 1em
}

.elementor-33 .elementor-element.elementor-element-d3a2308 .gem-qf-icon-image-wrapper .gem-icon {
    padding: 10px;
    margin: 0;
    background-color: #fff;
    border-color: #879b51
}

.elementor-33 .elementor-element.elementor-element-d3a2308 .gem-icon {
    border-width: 2px;
    border-radius: -1px -1px -1px -1px
}

.elementor-33 .elementor-element.elementor-element-d3a2308 .gem-qf-icon-image-wrapper .gem-icon .gem-icon-shape-hexagon-back-inner-before {
    background-color: #879b51
}

.elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder .gem-qf-icon-image-wrapper .gem-icon .gem-icon-half-1 i {
    color: #879b51
}

.elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder .gem-qf-icon-image-wrapper .gem-icon .gem-icon-half-1 svg {
    fill: #879b51
}

.elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder .gem-qf-icon-image-wrapper .gem-icon .gem-icon-half-2 i {
    color: #879b51
}

.elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder .gem-qf-icon-image-wrapper .gem-icon .gem-icon-half-2 svg {
    fill: #879b51
}

.elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder .quickfinder-item:hover .gem-qf-icon-image-wrapper .icon-hover-bg {
    background-color: #879b51
}

.elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder .quickfinder-item:hover .gem-icon {
    border-color: #879b51
}

.elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder .quickfinder-item:hover .gem-qf-icon-image-wrapper .gem-icon .gem-icon-half-1 i {
    color: #fff
}

.elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder .quickfinder-item:hover .gem-qf-icon-image-wrapper .gem-icon .gem-icon-half-1 svg {
    fill: #fff
}

.elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder .quickfinder-item:hover .gem-qf-icon-image-wrapper .gem-icon .gem-icon-half-2 i {
    color: #fff
}

.elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder .quickfinder-item:hover .gem-qf-icon-image-wrapper .gem-icon .gem-icon-half-2 svg {
    fill: #fff
}

.elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder .gem-image img,.elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder a .gem-image img {
    width: 128px;
    max-width: 128px;
    height: auto
}

.elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder .gem-image span {
    border-style: none
}

.elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder .quickfinder-item:hover .gem-image>span::before {
    opacity: .5!important
}

.elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder .gem-inner-wrapper-btn {
    flex-direction: row
}

.elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder-style-vertical .connector-container span {
    width: 2px;
    height: 5px;
    margin-top: 0%
}

.elementor-33 .elementor-element.elementor-element-d3a2308>.elementor-widget-container {
    margin: 30px 0 0
}

.elementor-33 .elementor-element.elementor-element-d3a2308 {
    z-index: 2
}

.elementor-33 .elementor-element.elementor-element-ab0f65a .elementor-spacer-inner {
    height: 502px
}

.elementor-33 .elementor-element.elementor-element-ab0f65a {
    z-index: 1;
    width: 2px;
    max-width: 2px;
    top: 120px
}

.elementor-33 .elementor-element.elementor-element-ab0f65a>.elementor-widget-container {
    background-color: #879b51
}

body:not(.rtl) .elementor-33 .elementor-element.elementor-element-ab0f65a {
    left: 21px
}

body.rtl .elementor-33 .elementor-element.elementor-element-ab0f65a {
    right: 21px
}

.elementor-33 .elementor-element.elementor-element-c69ee3b .elementor-heading-title {
    color: #383333;
    letter-spacing: 0
}

.elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder-item-inner,.elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder-item-inner .gem-qf-icon-image-wrapper {
    text-align: left;
    justify-content: flex-start
}

.elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder-style-vertical .quickfinder-item-info {
    text-align: left;
    justify-content: flex-start;
    padding: 10px 0 70px 20px
}

.elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder-item-inner {
    padding: 10px 0 70px 20px
}

.elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder .quickfinder-title {
    margin-bottom: 25px;
    color: #383333!important;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0
}

.elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder .quickfinder-description {
    padding-bottom: 0;
    color: #383333!important;
    line-height: 1em
}

.elementor-33 .elementor-element.elementor-element-af33ca2 .gem-qf-icon-image-wrapper .gem-icon {
    padding: 10px;
    margin: 0;
    background-color: #fff;
    border-color: #879b51
}

.elementor-33 .elementor-element.elementor-element-af33ca2 .gem-icon {
    border-width: 2px;
    border-radius: -1px -1px -1px -1px
}

.elementor-33 .elementor-element.elementor-element-af33ca2 .gem-qf-icon-image-wrapper .gem-icon .gem-icon-shape-hexagon-back-inner-before {
    background-color: #879b51
}

.elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder .gem-qf-icon-image-wrapper .gem-icon .gem-icon-half-1 i {
    color: #879b51
}

.elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder .gem-qf-icon-image-wrapper .gem-icon .gem-icon-half-1 svg {
    fill: #879b51
}

.elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder .gem-qf-icon-image-wrapper .gem-icon .gem-icon-half-2 i {
    color: #879b51
}

.elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder .gem-qf-icon-image-wrapper .gem-icon .gem-icon-half-2 svg {
    fill: #879b51
}

.elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder .quickfinder-item:hover .gem-qf-icon-image-wrapper .icon-hover-bg {
    background-color: #879b51
}

.elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder .quickfinder-item:hover .gem-icon {
    border-color: #879b51
}

.elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder .quickfinder-item:hover .gem-qf-icon-image-wrapper .gem-icon .gem-icon-half-1 i {
    color: #fff
}

.elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder .quickfinder-item:hover .gem-qf-icon-image-wrapper .gem-icon .gem-icon-half-1 svg {
    fill: #fff
}

.elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder .quickfinder-item:hover .gem-qf-icon-image-wrapper .gem-icon .gem-icon-half-2 i {
    color: #fff
}

.elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder .quickfinder-item:hover .gem-qf-icon-image-wrapper .gem-icon .gem-icon-half-2 svg {
    fill: #fff
}

.elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder .gem-image img,.elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder a .gem-image img {
    width: 128px;
    max-width: 128px;
    height: auto
}

.elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder .gem-image span {
    border-style: none
}

.elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder .quickfinder-item:hover .gem-image>span::before {
    opacity: .5!important
}

.elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder .gem-inner-wrapper-btn {
    flex-direction: row
}

.elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder-style-vertical .connector-container span {
    width: 2px;
    height: 5px;
    margin-top: 0%
}

.elementor-33 .elementor-element.elementor-element-af33ca2>.elementor-widget-container {
    margin: 30px 0 0
}

.elementor-33 .elementor-element.elementor-element-af33ca2 {
    z-index: 2
}

.elementor-33 .elementor-element.elementor-element-a163799 .elementor-spacer-inner {
    height: 509px
}

.elementor-33 .elementor-element.elementor-element-a163799 {
    z-index: 1;
    width: 2px;
    max-width: 2px;
    top: 120px
}

.elementor-33 .elementor-element.elementor-element-a163799>.elementor-widget-container {
    background-color: #879b51
}

body:not(.rtl) .elementor-33 .elementor-element.elementor-element-a163799 {
    left: 21px
}

body.rtl .elementor-33 .elementor-element.elementor-element-a163799 {
    right: 21px
}

.elementor-33 .elementor-element.elementor-element-7e9df682>.elementor-container {
    min-height: 91vh
}

.elementor-33 .elementor-element.elementor-element-7e9df682>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-33 .elementor-element.elementor-element-7e9df682:not(.elementor-motion-effects-element-type-background),.elementor-33 .elementor-element.elementor-element-7e9df682>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: rgb(6, 7, 24)
}

.elementor-33 .elementor-element.elementor-element-7e9df682 {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin-top: 0;
    margin-bottom: -45px;
    padding: 0 20px
}

.elementor-33 .elementor-element.elementor-element-7e9df682>.elementor-background-overlay {
    transition: background .3s,border-radius .3s,opacity .3s
}

.elementor-33 .elementor-element.elementor-element-7e9df682>.elementor-shape-top .elementor-shape-fill {
    fill: #645ebd
}

.elementor-33 .elementor-element.elementor-element-7e9df682>.elementor-shape-top svg {
    height: 103px
}

.elementor-33 .elementor-element.elementor-element-3895939a>.elementor-element-populated {
    margin: 40px 0
}

.elementor-33 .elementor-element.elementor-element-2f0b717 {
    text-align: center
}

.elementor-bc-flex-widget .elementor-33 .elementor-element.elementor-element-88c0e1e.elementor-column .elementor-column-wrap {
    align-items: center
}

.elementor-33 .elementor-element.elementor-element-88c0e1e.elementor-column.elementor-element[data-element_type=column]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-33 .elementor-element.elementor-element-88c0e1e>.elementor-element-populated {
    margin: 0
}

.elementor-33 .elementor-element.elementor-element-15dfa093,.elementor-33 .elementor-element.elementor-element-15dfa093 .elementor-text-editor * {
    font-size: 61px;
    font-weight: 900;
    line-height: 1em;
    letter-spacing: .3px
}

.elementor-33 .elementor-element.elementor-element-15dfa093>.elementor-widget-container {
    margin: 0
}

.elementor-33 .elementor-element.elementor-element-15dfa093 {
    width: 100%;
    max-width: 100%
}

.elementor-bc-flex-widget .elementor-33 .elementor-element.elementor-element-09c0522.elementor-column .elementor-column-wrap {
    align-items: center
}

.elementor-33 .elementor-element.elementor-element-09c0522.elementor-column.elementor-element[data-element_type=column]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-33 .elementor-element.elementor-element-09c0522>.elementor-element-populated {
    margin: 0 0 10px 14px
}

.elementor-33 .elementor-element.elementor-element-0b82355 .elementor-heading-title {
    color: #fff;
    font-family: podkova,Sans-serif;
    font-size: 18px;
    font-weight: 700
}

.elementor-33 .elementor-element.elementor-element-0b82355 {
    width: auto;
    max-width: auto;
    align-self: center
}

.elementor-33 .elementor-element.elementor-element-2ee4699>.elementor-element-populated {
    margin: 0 0 10px
}

.elementor-33 .elementor-element.elementor-element-194b462 .elementor-button .elementor-align-icon-left {
    margin-left: 0;
    margin-right: 0
}

.elementor-33 .elementor-element.elementor-element-194b462 a.elementor-button,.elementor-33 .elementor-element.elementor-element-194b462 .elementor-button {
    font-weight: 900;
    line-height: 1.5em;
    fill: #383333;
    color: #383333;
    background-color: #68e688
}

.elementor-33 .elementor-element.elementor-element-194b462 .e-offscreen {
    position: absolute;
    left: -999em;
    display: block!important
}

.elementor-33 .elementor-element.elementor-element-194b462 .e-input-group {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%
}

.elementor-33 .elementor-element.elementor-element-194b462 .e-input-group-append,.elementor-33 .elementor-element.elementor-element-194b462 .e-input-group-prepend {
    display: flex
}

.elementor-33 .elementor-element.elementor-element-194b462 .e-input-group-append {
    margin-left: -1px
}

.elementor-33 .elementor-element.elementor-element-194b462 .e-input-group>.e-form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0
}

.elementor-33 .elementor-element.elementor-element-fdd2e5a .elementor-button .elementor-align-icon-right {
    margin-left: 0
}

.elementor-33 .elementor-element.elementor-element-fdd2e5a .elementor-button .elementor-align-icon-left {
    margin-right: 0
}

.elementor-33 .elementor-element.elementor-element-fdd2e5a .elementor-button {
    font-weight: 900;
    letter-spacing: 0;
    fill: #383333;
    color: #383333;
    background-color: #645ebd
}

.elementor-33 .elementor-element.elementor-element-fdd2e5a .elementor-button:hover,.elementor-33 .elementor-element.elementor-element-fdd2e5a .elementor-button:focus {
    background-color: #68e688
}

.elementor-33 .elementor-element.elementor-element-271f6d4 .elementor-button .elementor-align-icon-right {
    margin-left: 0
}

.elementor-33 .elementor-element.elementor-element-271f6d4 .elementor-button .elementor-align-icon-left {
    margin-right: 0
}

.elementor-33 .elementor-element.elementor-element-271f6d4 .elementor-button {
    font-weight: 900;
    fill: #383333;
    color: #383333;
    background-color: #645ebd
}

.elementor-33 .elementor-element.elementor-element-271f6d4 .elementor-button:hover,.elementor-33 .elementor-element.elementor-element-271f6d4 .elementor-button:focus {
    background-color: #68e688
}

.elementor-33 .elementor-element.elementor-element-872ed7f .elementor-button .elementor-align-icon-right {
    margin-left: 0
}

.elementor-33 .elementor-element.elementor-element-872ed7f .elementor-button .elementor-align-icon-left {
    margin-right: 0
}

.elementor-33 .elementor-element.elementor-element-872ed7f .elementor-button {
    font-weight: 900;
    fill: #383333;
    color: #383333;
    background-color: #645ebd
}

.elementor-33 .elementor-element.elementor-element-872ed7f .elementor-button:hover,.elementor-33 .elementor-element.elementor-element-872ed7f .elementor-button:focus {
    background-color: #68e688
}

.elementor-33 .elementor-element.elementor-element-b5dce7e .elementor-button .elementor-align-icon-right {
    margin-left: 0
}

.elementor-33 .elementor-element.elementor-element-b5dce7e .elementor-button .elementor-align-icon-left {
    margin-right: 0
}

.elementor-33 .elementor-element.elementor-element-b5dce7e .elementor-button {
    font-weight: 900;
    fill: #383333;
    color: #383333;
    background-color: #645ebd
}

.elementor-33 .elementor-element.elementor-element-b5dce7e .elementor-button:hover,.elementor-33 .elementor-element.elementor-element-b5dce7e .elementor-button:focus {
    background-color: #68e688
}

.elementor-33 .elementor-element.elementor-element-3f63f09b:not(.elementor-motion-effects-element-type-background),.elementor-33 .elementor-element.elementor-element-3f63f09b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg,#645ebd 0%,#794e9ccc 100%)
}

.elementor-33 .elementor-element.elementor-element-3f63f09b {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    padding: 90px 21px
}

.elementor-33 .elementor-element.elementor-element-3f63f09b>.elementor-background-overlay {
    transition: background .3s,border-radius .3s,opacity .3s
}

.elementor-33 .elementor-element.elementor-element-3f63f09b>.elementor-shape-top .elementor-shape-fill {
    fill: rgb(6, 7, 24)
}

.elementor-33 .elementor-element.elementor-element-3f63f09b>.elementor-shape-top svg {
    width: calc(300% + 1.3px)
}

.elementor-bc-flex-widget .elementor-33 .elementor-element.elementor-element-2297fa98.elementor-column .elementor-column-wrap {
    align-items: center
}

.elementor-33 .elementor-element.elementor-element-2297fa98.elementor-column.elementor-element[data-element_type=column]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-33 .elementor-element.elementor-element-2297fa98>.elementor-element-populated {
    margin: 0
}

.elementor-bc-flex-widget .elementor-33 .elementor-element.elementor-element-153d9358.elementor-column .elementor-column-wrap {
    align-items: center
}

.elementor-33 .elementor-element.elementor-element-153d9358.elementor-column.elementor-element[data-element_type=column]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-33 .elementor-element.elementor-element-1452694 .gem-tta-panel+.gem-tta-panel {
    border-top-color: #849b43!important
}

.elementor-33 .elementor-element.elementor-element-1452694 .gem-tta-panel .gem-tta-panel-title>a {
    justify-content: flex-start
}

.elementor-33 .elementor-element.elementor-element-1452694 .gem-tta-panel.gem-tta-active .gem-tta-title-text {
    font-weight: 900
}

.elementor-33 .elementor-element.elementor-element-1452694 .gem-tta-panel.gem-tta-active .gem-tta-panel-title>a .gem-tta-title-text {
    color: #383333!important
}

.elementor-33 .elementor-element.elementor-element-1452694 .gem-tta-panel.gem-tta-active .gem-tta-icon i:before {
    color: #383333!important
}

.elementor-33 .elementor-element.elementor-element-1452694 .gem-tta-panel.gem-tta-active .gem-tta-icon svg {
    fill: #383333!important
}

.elementor-33 .elementor-element.elementor-element-1452694 .gem-tta-panel.gem-tta-active .gem-tta-controls-icon-opened i:before {
    color: #383333!important
}

.elementor-33 .elementor-element.elementor-element-1452694 .gem-tta-panel.gem-tta-active .gem-tta-controls-icon-opened svg {
    fill: #383333!important
}

.elementor-33 .elementor-element.elementor-element-1452694 .gem-tta-panel:not(.gem-tta-active) .gem-tta-title-text {
    font-weight: 900
}

.elementor-33 .elementor-element.elementor-element-1452694 .gem-tta-panel:not(.gem-tta-active) .gem-tta-panel-title>a {
    color: #383333!important
}

.elementor-33 .elementor-element.elementor-element-1452694 .gem-tta-panel-body {
    font-weight: 900;
    line-height: 3em;
    color: #383333;
    text-align: left!important
}

.elementor-33 .elementor-element.elementor-element-4a946764:not(.elementor-motion-effects-element-type-background),.elementor-33 .elementor-element.elementor-element-4a946764>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #794e9ccc
}

.elementor-33 .elementor-element.elementor-element-4a946764 {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    padding: 0 20px
}

.elementor-33 .elementor-element.elementor-element-4a946764>.elementor-background-overlay {
    transition: background .3s,border-radius .3s,opacity .3s
}

.elementor-33 .elementor-element.elementor-element-6896a0c1>.elementor-element-populated {
    padding: 0 20px
}

.elementor-33 .elementor-element.elementor-element-b739a28 {
    text-align: center
}

.elementor-33 .elementor-element.elementor-element-b739a28 .elementor-heading-title {
    font-size: 88px;
    font-weight: 900;
    letter-spacing: -.3px
}

.elementor-33 .elementor-element.elementor-element-ffde19b .team-person {
    background-color: #645ebd00!important
}

.elementor-33 .elementor-element.elementor-element-ffde19b .gem-team {
    margin: calc(-0px/2)
}

.elementor-33 .elementor-element.elementor-element-ffde19b .thegem-wrap {
    padding: calc(0px/2)
}

.elementor-33 .elementor-element.elementor-element-ffde19b .gem-team:not(.gem-team-style-6) .team-person,.elementor-33 .elementor-element.elementor-element-ffde19b .gem-team.gem-team-style-6 .team-person-hover {
    padding: 0
}

.elementor-33 .elementor-element.elementor-element-ffde19b .team-person:hover {
    background-color: #645ebd!important
}

.elementor-33 .elementor-element.elementor-element-ffde19b .gem-team-style-5 .team-person:hover .team-person-hover {
    background-color: #645ebd!important
}

.elementor-33 .elementor-element.elementor-element-ffde19b .team-person-image {
    width: 274px
}

.elementor-33 .elementor-element.elementor-element-ffde19b .gem-team-style-5 .team-person:hover .team-person-image .image-hover {
    background-color: #b0242400!important
}

.elementor-33 .elementor-element.elementor-element-ffde19b .team-person-name,.elementor-33 .elementor-element.elementor-element-ffde19b .team-person-name span {
    color: #68e688!important;
    font-weight: 900;
    text-transform: uppercase
}

.elementor-33 .elementor-element.elementor-element-ffde19b .team-person-name {
    margin: 0 0 -9px
}

.elementor-33 .elementor-element.elementor-element-ffde19b .team-person-position {
    color: #fff
}

.elementor-33 .elementor-element.elementor-element-ffde19b>.elementor-widget-container {
    margin: 1px 75px 0;
    padding: 37px
}

@media(max-width: 1024px) {
    .elementor-33 .elementor-element.elementor-element-5eef0e8>.elementor-shape-top svg {
        width:calc(300% + 1.3px);
        height: 45px
    }

    .elementor-33 .elementor-element.elementor-element-f873607 {
        padding: 50px 0
    }

    .elementor-33 .elementor-element.elementor-element-26d2c15 {
        margin-top: 30px;
        margin-bottom: 0
    }

    .elementor-33 .elementor-element.elementor-element-f117641 .quickfinder-item-inner {
        padding: 10px 0 50px 20px
    }

    .elementor-33 .elementor-element.elementor-element-f117641 .quickfinder-style-vertical .quickfinder-item-info {
        padding: 10px 0 50px 20px
    }

    .elementor-33 .elementor-element.elementor-element-f117641 .quickfinder-style-vertical .connector-container span {
        margin-top: 0%;
        min-height: 100%
    }

    .elementor-33 .elementor-element.elementor-element-b6547ae .elementor-spacer-inner {
        height: 241px
    }

    .elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder-item-inner {
        padding: 10px 0 50px 20px
    }

    .elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder-style-vertical .quickfinder-item-info {
        padding: 10px 0 50px 20px
    }

    .elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder-style-vertical .connector-container span {
        margin-top: 0%;
        min-height: 100%
    }

    .elementor-33 .elementor-element.elementor-element-ab0f65a .elementor-spacer-inner {
        height: 528px
    }

    .elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder-item-inner {
        padding: 10px 0 50px 20px
    }

    .elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder-style-vertical .quickfinder-item-info {
        padding: 10px 0 50px 20px
    }

    .elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder-style-vertical .connector-container span {
        margin-top: 0%;
        min-height: 100%
    }

    .elementor-33 .elementor-element.elementor-element-a163799 .elementor-spacer-inner {
        height: 373px
    }

    .elementor-33 .elementor-element.elementor-element-0b82355 .elementor-heading-title {
        font-size: 17px
    }

    .elementor-33 .elementor-element.elementor-element-2297fa98>.elementor-element-populated {
        margin: 20px 0 0
    }
}

@media(max-width: 767px) {
    .elementor-33 .elementor-element.elementor-element-62c9c933 {
        padding:20px 21px 25px
    }

    .elementor-33 .elementor-element.elementor-element-1fb5480 {
        --grid-template-columns: repeat(3, auto);
        --icon-size: 44px;
        --grid-column-gap: 20px;
        --grid-row-gap: 20px
    }

    .elementor-33 .elementor-element.elementor-element-1fb5480 .elementor-widget-container {
        text-align: center
    }

    .elementor-33 .elementor-element.elementor-element-631cd62c {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0
    }

    .elementor-33 .elementor-element.elementor-element-11770a5d>.elementor-element-populated {
        margin: 0;
        padding: 7px 7px 13px
    }

    .elementor-33 .elementor-element.elementor-element-85a1674,.elementor-33 .elementor-element.elementor-element-85a1674 .elementor-text-editor * {
        font-size: 57px;
        line-height: .9em;
        letter-spacing: -.5px
    }

    .elementor-33 .elementor-element.elementor-element-85a1674>.elementor-widget-container {
        margin: 0 0 -22px
    }

    .elementor-33 .elementor-element.elementor-element-5dbc323e,.elementor-33 .elementor-element.elementor-element-5dbc323e .elementor-text-editor * {
        font-size: 12px
    }

    .elementor-33 .elementor-element.elementor-element-5dbc323e>.elementor-widget-container {
        margin: 4px -2px -2px;
        padding: 0
    }

    .elementor-33 .elementor-element.elementor-element-5eef0e8>.elementor-shape-top svg {
        width: calc(300% + 1.3px);
        height: 19px
    }

    .elementor-33 .elementor-element.elementor-element-5eef0e8 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 26px 0 0
    }

    .elementor-33 .elementor-element.elementor-element-7cfe983e>.elementor-element-populated {
        margin: 0 0 59px
    }

    .elementor-33 .elementor-element.elementor-element-313097d .quickfinder .quickfinder-description {
        padding-bottom: 0;
        line-height: 1.3em
    }

    .elementor-33 .elementor-element.elementor-element-313097d .gem-qf-icon-image-wrapper .gem-icon {
        font-size: 89px!important;
        margin: -10px 0 -40px
    }

    .elementor-33 .elementor-element.elementor-element-313097d .gem-qf-icon-image-wrapper .gem-icon-inner .padding-box-inner {
        width: calc(1.3 * 89px)!important;
        height: calc(1.3 * 89px)!important;
        line-height: calc(1.3 * 89px)!important
    }

    .elementor-33 .elementor-element.elementor-element-ffaef8e>.elementor-shape-bottom svg {
        width: calc(138% + 1.3px);
        height: 59px
    }

    .elementor-33 .elementor-element.elementor-element-ffaef8e {
        margin-top: 0;
        margin-bottom: 44px;
        padding: 0 5px
    }

    .elementor-33 .elementor-element.elementor-element-38afe05>.elementor-element-populated {
        margin: 0 0 -31px
    }

    .elementor-33 .elementor-element.elementor-element-f348c5d,.elementor-33 .elementor-element.elementor-element-f348c5d .elementor-text-editor * {
        font-size: 41px;
        letter-spacing: -1.1px
    }

    .elementor-33 .elementor-element.elementor-element-f348c5d>.elementor-widget-container {
        margin: 8px 0 0
    }

    .elementor-33 .elementor-element.elementor-element-d852ea2 {
        text-align: center
    }

    .elementor-33 .elementor-element.elementor-element-d852ea2,.elementor-33 .elementor-element.elementor-element-d852ea2 .elementor-text-editor * {
        line-height: 1.5em;
        letter-spacing: .2px
    }

    .elementor-33 .elementor-element.elementor-element-d852ea2>.elementor-widget-container {
        margin: 0;
        padding: 0
    }

    .elementor-33 .elementor-element.elementor-element-7277a84 .elementor-button {
        font-size: 17px
    }

    .elementor-33 .elementor-element.elementor-element-7277a84>.elementor-widget-container {
        margin: 10px 0 15px
    }

    .elementor-33 .elementor-element.elementor-element-f873607 {
        margin-top: -44px;
        margin-bottom: -44px;
        padding: 0
    }

    .elementor-33 .elementor-element.elementor-element-c8821e5,.elementor-33 .elementor-element.elementor-element-c8821e5 .elementor-text-editor * {
        font-size: 54px;
        letter-spacing: 1.1px
    }

    .elementor-33 .elementor-element.elementor-element-c8821e5>.elementor-widget-container {
        margin: 0
    }

    .elementor-33 .elementor-element.elementor-element-7ca07b9 {
        text-align: center
    }

    .elementor-33 .elementor-element.elementor-element-f117641 .quickfinder-item-inner,.elementor-33 .elementor-element.elementor-element-f117641 .quickfinder-item-inner .gem-qf-icon-image-wrapper {
        text-align: center
    }

    .elementor-33 .elementor-element.elementor-element-f117641 .quickfinder-style-vertical .quickfinder-item-info {
        text-align: center
    }

    .elementor-33 .elementor-element.elementor-element-f117641 .quickfinder .quickfinder-title {
        margin-bottom: 0
    }

    .elementor-33 .elementor-element.elementor-element-f117641 .quickfinder .quickfinder-description {
        padding-bottom: 0;
        line-height: 1em;
        letter-spacing: -.3px
    }

    .elementor-33 .elementor-element.elementor-element-f117641 .gem-qf-icon-image-wrapper .gem-icon {
        font-size: 53px!important;
        padding: 0;
        margin: 0%
    }

    .elementor-33 .elementor-element.elementor-element-f117641 .gem-qf-icon-image-wrapper .gem-icon-inner .padding-box-inner {
        width: calc(1.3 * 53px)!important;
        height: calc(1.3 * 53px)!important;
        line-height: calc(1.3 * 53px)!important
    }

    .elementor-33 .elementor-element.elementor-element-f117641 .gem-icon {
        border-radius: -1px -1px -1px -1px
    }

    .elementor-33 .elementor-element.elementor-element-f117641 .quickfinder-style-vertical .connector-container span {
        margin-top: 0%;
        min-height: 100%
    }

    .elementor-33 .elementor-element.elementor-element-f117641>.elementor-widget-container {
        margin: 0
    }

    .elementor-33 .elementor-element.elementor-element-b6547ae .elementor-spacer-inner {
        height: 0
    }

    .elementor-33 .elementor-element.elementor-element-a8a50a3 {
        text-align: center
    }

    .elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder-item-inner,.elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder-item-inner .gem-qf-icon-image-wrapper {
        text-align: center
    }

    .elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder-style-vertical .quickfinder-item-info {
        text-align: center
    }

    .elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder .quickfinder-title {
        margin-bottom: 0
    }

    .elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder .quickfinder-description {
        line-height: 1em
    }

    .elementor-33 .elementor-element.elementor-element-d3a2308 .gem-qf-icon-image-wrapper .gem-icon {
        font-size: 40px!important;
        margin: 0%
    }

    .elementor-33 .elementor-element.elementor-element-d3a2308 .gem-qf-icon-image-wrapper .gem-icon-inner .padding-box-inner {
        width: calc(1.3 * 40px)!important;
        height: calc(1.3 * 40px)!important;
        line-height: calc(1.3 * 40px)!important
    }

    .elementor-33 .elementor-element.elementor-element-d3a2308 .quickfinder-style-vertical .connector-container span {
        margin-top: 0%;
        min-height: 100%
    }

    .elementor-33 .elementor-element.elementor-element-d3a2308>.elementor-widget-container {
        margin: 0
    }

    .elementor-33 .elementor-element.elementor-element-ab0f65a .elementor-spacer-inner {
        height: 0
    }

    .elementor-33 .elementor-element.elementor-element-c69ee3b {
        text-align: center
    }

    .elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder-item-inner,.elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder-item-inner .gem-qf-icon-image-wrapper {
        text-align: center
    }

    .elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder-style-vertical .quickfinder-item-info {
        text-align: center
    }

    .elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder .quickfinder-title {
        margin-bottom: 0
    }

    .elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder .quickfinder-description {
        line-height: 1em
    }

    .elementor-33 .elementor-element.elementor-element-af33ca2 .gem-qf-icon-image-wrapper .gem-icon {
        font-size: 40px!important;
        margin: 0%
    }

    .elementor-33 .elementor-element.elementor-element-af33ca2 .gem-qf-icon-image-wrapper .gem-icon-inner .padding-box-inner {
        width: calc(1.3 * 40px)!important;
        height: calc(1.3 * 40px)!important;
        line-height: calc(1.3 * 40px)!important
    }

    .elementor-33 .elementor-element.elementor-element-af33ca2 .quickfinder-style-vertical .connector-container span {
        margin-top: 0%;
        min-height: 100%
    }

    .elementor-33 .elementor-element.elementor-element-af33ca2>.elementor-widget-container {
        margin: 0
    }

    .elementor-33 .elementor-element.elementor-element-a163799 .elementor-spacer-inner {
        height: 0
    }

    .elementor-33 .elementor-element.elementor-element-7e9df682>.elementor-shape-top svg {
        height: 57px
    }

    .elementor-33 .elementor-element.elementor-element-7e9df682 {
        padding: 30px 30px 75px
    }

    .elementor-33 .elementor-element.elementor-element-3895939a>.elementor-element-populated {
        margin: 30px 0 -18px
    }

    .elementor-33 .elementor-element.elementor-element-15dfa093,.elementor-33 .elementor-element.elementor-element-15dfa093 .elementor-text-editor * {
        font-size: 41px
    }

    .elementor-33 .elementor-element.elementor-element-09c0522>.elementor-element-populated {
        margin: 0;
        padding: 0
    }

    .elementor-33 .elementor-element.elementor-element-0b82355 {
        text-align: center;
        width: 100%;
        max-width: 100%
    }

    .elementor-33 .elementor-element.elementor-element-0b82355 .elementor-heading-title {
        font-size: 10px
    }

    .elementor-33 .elementor-element.elementor-element-2ee4699>.elementor-element-populated {
        padding: 0
    }

    .elementor-33 .elementor-element.elementor-element-3f63f09b {
        padding: 0
    }

    .elementor-33 .elementor-element.elementor-element-1452694 .gem-tta-panel-body {
        line-height: 1.4em
    }

    .elementor-33 .elementor-element.elementor-element-4a946764 {
        padding: 0
    }

    .elementor-33 .elementor-element.elementor-element-b739a28 .elementor-heading-title {
        font-size: 78px;
        line-height: .8em
    }

    .elementor-33 .elementor-element.elementor-element-b739a28>.elementor-widget-container {
        margin: 15px
    }

    .elementor-33 .elementor-element.elementor-element-ffde19b .team-person,.elementor-33 .elementor-element.elementor-element-ffde19b .team-person-image,.elementor-33 .elementor-element.elementor-element-ffde19b .team-person-contacts-group {
        text-align: center;
        align-items: center
    }

    .elementor-33 .elementor-element.elementor-element-ffde19b .gem-team:not(.gem-team-style-6) .team-person,.elementor-33 .elementor-element.elementor-element-ffde19b .gem-team.gem-team-style-6 .team-person-hover {
        padding: 0
    }
}

@media(min-width: 768px) {
    .elementor-33 .elementor-element.elementor-element-7cfe983e {
        width:100%
    }

    .elementor-33 .elementor-element.elementor-element-38afe05 {
        width: 100%
    }

    .elementor-33 .elementor-element.elementor-element-3895939a {
        width: 44.054%
    }

    .elementor-33 .elementor-element.elementor-element-88c0e1e {
        width: 55.905%
    }

    .elementor-33 .elementor-element.elementor-element-09c0522 {
        width: 68.213%
    }

    .elementor-33 .elementor-element.elementor-element-2ee4699 {
        width: 31.707%
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-33 .elementor-element.elementor-element-2c4398e {
        width:50%
    }

    .elementor-33 .elementor-element.elementor-element-38d9df2 {
        width: 50%
    }

    .elementor-33 .elementor-element.elementor-element-7eb8fb6 {
        width: 50%
    }

    .elementor-33 .elementor-element.elementor-element-2297fa98 {
        width: 100%
    }

    .elementor-33 .elementor-element.elementor-element-153d9358 {
        width: 100%
    }
}
